<div class="center jumbotron">
  <h1>Help</h1>

  <h2>
    Welcome to Overwatch Matchmaker. We match you with a queue of six people (two supports, two tanks, and two DPS), and place you in a chat room so you can organize a six stack for Blizzard's newest game, <a href="https://playoverwatch.com/en-us/">Overwatch</a>.
  </h2>

  <%= link_to "Join Queue Now", join_game_path, class: "btn btn-lg btn-primary" %>
</div>