<div class="center jumbotron">
  <h1>Welcome to the Overwatch Matchmaker</h1>

  <h2>
    This is the home page for the
    Overwatch Matchmaker.
  </h2>

  <%= link_to "Sign up now!", sign_up_path, class: "btn btn-lg btn-primary" %>
</div>