<div class="center jumbotron">
  <h1>Select a Role</h1>
    
  <%= link_to "DPS", new_team_path(@team, :role => "dps"), class: "btn btn-lg btn-primary" %>	
  <%= link_to "Tank", new_team_path(@team, :role => "tank"), class: "btn btn-lg btn-primary" %>
  <%= link_to "Support", new_team_path(@team, :role => "support"), class: "btn btn-lg btn-primary" %>
  
  
</div>