
<% if current_user %>
  <% if @team_id %>
  <div class="page-header">
    <h1>Match with your teammates!</h1>
  </div>


  <div class="panel panel-default" id="comments">
    <div class="panel-body">
      <ul class="media-list">
        <%= render @comments %>
      </ul>
    </div>
  </div>
    <%= render 'form', team_id: @team_id %>
    <% else %>
    <div class="page-header">
      <h1> You don't have permission to access this team</h1>
    </div>
  <% end %>
<% else %>
  <%= render 'welcome' %>
<% end %>

