<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <img alt="User Avatar" src="/assets/default_avatar.png" />
        <%= @user.battlenetid %>
      </h1>
      <%= @user.email %>
    </section>
  </aside>
</div>